* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #f10a0a;
  margin: 0;
  display: flex;
  width: 142px;
  height: 400px;
}

.header_2 {
  background-color: #c5081f;
  color: aquamarine;
  margin: 0;
  display: flex;
  width: 900px;
  height: 90px;
}

html {
  width: 100vw;
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 15% 25% 20% 25% 15%;
  grid-template-rows: 15% 25% 20% 25% 15%;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}

.red {
  background-color: #f10a0a;
  grid-row: 1 / 4;
}

.mid-red {
  background-color: #c5081f;
  grid-column: 2 / 4;
  text-align: center;
}

.dark-red {
  background-color: #9a0f18;
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.mid-purple {
  background-color: #c70cbf;
  grid-row: 3 / 6;
  grid-column: 5 / 6;
}

.purple {
  background-color: #fa29e5;
  grid-row: 4 / 6;
  grid-column: 1 / 3;
}

.dark-purple {
  background-color: #8b0a77;
  grid-column: 5 / 3;
  grid-row: 5 / 6;
}

.pictures {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_2 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_3 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_4 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_5 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_6 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_7 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_8 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.gif_1 {
  margin-left: 10px;
  margin-top: 10px;
}

.gif_2 {
  margin-left: 10px;
  margin-top: 10px;
}

.pictures_9 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_10 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_11 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_12 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_13 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_14 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
}

.pictures_15 {
  display: flex;
  flex-direction: column column-reverse;
  justify-content: row;
  padding: 5px;
  
}
